# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
.env

# Node
node_modules/
dist/
.DS_Store

# IDE
.idea/
.vscode/

# Logs
*.log
logs/

# Docker
mysql_data/
mongo_data/

# Brain
brain/
.gemini/
